@import url('https://fonts.googleapis.com/css2?family=Nanum+Myeongjo&display=swap');

$text: #f5f5f5;

.App {
  position: sticky;
  padding: 2em 6em;
  color: $text;
  background: url('../assets/gradient.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  background-attachment: fixed;

  a {
    color: $text;
  }
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#logo {
  font-family: 'Nanum Myeongjo', serif !important;
  font-weight: 400 !important;
  font-size: 2em;

  a {
    text-decoration: none;
    -o-transition:.5s;
    -ms-transition:.5s;
    -moz-transition:.5s;
    -webkit-transition:.5s;
    transition:.5s;
  }

  a:hover {
    color: #a3a3a3;
  }
}

#frame {
  height: 78vh;
  margin: 0.3em 0;
  border: 1.5px solid #f5f5f5;
  overflow-y: scroll;
  scrollbar-width: none;
  -ms-overflow-style: none;
}

#frame::-webkit-scrollbar {
  display: none;
}

#copyright {
  text-align: right;
}

@media (max-width: 768px) {
  .App {
    padding: 2em;
  }

  #frame {
    height: 85vh;
  }
}