#label {
    display: flex;
    padding-bottom: 6em;
    font-size: clamp(1.25rem, 4.971vw + 0.256rem, 4.5rem);
    text-transform: none;
    justify-content: center;

    img {
        width: auto;
        height: clamp(1rem, 3.25vw + 0.35rem, 3.125rem);
        padding-top: 0.25em;
        align-self: center;
    }

    @media (min-width: 600px) {
        padding-bottom: 4.5em;
    }
}