#work {
    margin-bottom: 10em;
}

#gallery-wrapper {
    display: inline-block;
    text-align: right;
}

#gallery-frame {
    display: inline-block;
    text-align: center;
    width: 50vh;
    height: 64vh;
    border: 1.5px solid #f5f5f5;
    overflow-y: scroll;
    overscroll-behavior: none;
    scrollbar-width: none;
    -ms-overflow-style: none;

    img {
        display: flex;
        width: 100%;
        object-fit: contain;
    }
}
  
#gallery-frame::-webkit-scrollbar {
    display: none;
}

#gallery-nav-container {
    margin-top: 5px;
}

#gallery-nav {
    float: right;
}

.arrow {
    background: none;
	color: inherit;
	border: none;
	padding: 0;
	font: inherit;
	cursor: pointer;
	outline: inherit;
    transition: 0.4s ease-in;

    img {
        width: auto;
        height: 10px;
    }
}

.arrow:hover {
    transform: translateX(20%);
}

#work-description {
    text-align: left;
    padding-right: 1em;
    margin-bottom: 1.55em;

    h2 {
        font-size: 2em;
        font-weight: 300 !important;
    }
}

@media (max-width: 768px) {
    #work {
        margin-bottom: 2em;
    }

    #gallery-frame {
        width: 100%;
        height: 50vh;
    }
    
    .arrow img {
        height: 7px;
    }

    #work-description {
        padding-right: 0.5em;

        h2 {
            font-size: 1.5em;
        }
    }
  }

@media (min-width: 769px) {
    #work {
        margin-bottom: 10em;
    }

    #gallery-frame {
        display: inline-block;
        text-align: right;
        width: 30vw;
        height: 64vh;
    }
    
    .arrow img {
        height: 10px;
    }

    #work-description {
        padding-right: 1em;
        font-size: 0.9em;
    
        h2 {
            font-size: 2em;
        }
    }
}

@media (min-width: 1300px) {
    #gallery-frame {
        width: 25vw;
    }

    #work-description {
        padding-right: 5em;
    }
}